body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(182, 26, 104);
}

.left_header {
  padding: 10px;
  background-color: rgb(7, 7, 7);
  display: flex;
  color: white;
  gap: 20px;
  height: 30px;
  align-items: center;
}

.fixed_header {
  color: brown;
  display: flex;
  background-color: rgb(135, 245, 125);
  height: 60px;
  position: fixed;
  top: 50px;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.fixed_header:hover {
  background-color: rgb(68, 64, 65);
  color: rgb(231, 20, 20);
}

p {
  justify-content: center;
  display: flex;
}

.FL {
  color: white;
  display: flex;
  justify-content: center;
  font-size: large;
  margin-top: 50px;
}

.SL {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.TL {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.content {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: aqua;
  font-size: large;
}
button {
  border-radius: 20px;
  color: whitesmoke;
  background-color: rgb(72, 130, 218);
  padding: 10px 20px;
  justify-content: center;
  text-align: center;
  margin: 60px;
  border-color: rgb(72, 130, 218);
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 0;
}

button:hover {
  background-color: rgba(189, 151, 174, 0.877);
  color: rgb(23, 22, 24);
}

.end_content {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 50px;
}
